.ButtonM {
  padding: 10px 30px;
  background-color: #000;
  border: none;
  font-size: 18px;
  position: relative;
  /* overflow: hidden; */
  transition: 500ms;
}

.ButtonM .SpanM {
  color: gray;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.ButtonM:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: #02a45f;
  box-shadow: 0 0 10px #02a45f,
    0 0 30px #02a45f,
    0 0 50px #02a45f;
}

.ButtonM .divM {
  transition: 500ms;
  position: absolute;
  background-color: #02a45f;
  box-shadow: 0 0 15px #02a45f, 0 0 30px #02a45f, 0 0 50px #02a45f;
}

.ButtonM .topM {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.ButtonM .bottomM {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.ButtonM .leftM {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.ButtonM .rightM {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.ButtonM:hover {
  color: #000;
}

.ButtonM:hover .SpanM {
  color: #000;
}

.ButtonM:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ButtonM:hover .topM,
.ButtonM:hover .bottomM {
  width: 100%;
}

.ButtonM:hover .leftM,
.ButtonM:hover .rightM {
  height: 100%;
}